<form>
  <mat-form-field class="width-100">
    <input matInput placeholder="Your name:" disabled value="Name">
  </mat-form-field>

  <mat-form-field class="width-100">
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" placeholder="Your message..."></textarea>
  </mat-form-field>
  <div class="width-100">
    <button mat-raised-button disabled [disabled]="true">Send</button>
  </div>
</form>