<mat-card>
  <mat-card-header>
    <mat-card-title>{{Card.userHeading}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{Card.content}}
    </p>
  </mat-card-content>
</mat-card>