<button mat-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon svgIcon="custom-login"></mat-icon>
    <span>Login</span>
  </button>
  <button mat-menu-item>
    <mat-icon svgIcon="custom-logout"></mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>